[user]
	name = yttty
	email = yttty@users.noreply.github.com
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RF
[init]
	defaultBranch = main
[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = false
[grep]
	extendRegexp = true
	lineNumber = true
[color]
	branch = auto
	diff = auto
	status = auto
	ui = true
[commit]
	gpgsign = false
	verbose = false
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[help]
	autocorrect = 1
[status]
	showuntrackedfiles = all
[interactive]
	diffFilter = diff-so-fancy --patch
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
